*
{
    padding: 0;
    margin: 0;
}
body
{

    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    font-family: sans-serif;
}
.menu-bar
{
    background-color:706233;
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style-type: none;
    color: #fff;
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 1;
}
.menu-bar ul li a
{
    text-decoration: none;
    color:black;
}
.active, .menu-bar ul li :hover 
{
   background :#0d81ab;
   border-radius:3px;
}
.menu-bar .fa
{
    margin-right: 8px;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position:absolute;
    background-color: rgb(0, 62, 100);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #ffffff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li :last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color:555843;
}
.container{
    display: flex
           }
   
   
   .one{height:500px;
   
        width:650px;
        margin:1px;
        border:0px solid;
    }
    .two{height:650px;
        width:550px;
        margin:1px;
        background-color: rgb(72, 47, 184);
border:px solid
    }

    #w{
    text-decoration: none;
    a:link{
    color:white
    }
    a:visited{
    color:white
    }
    a:active{
    color:white
    }
    }

    #one{
        padding-left: 800px;
    }

    form{
        margin-left: 100px;
    }

    #a{
        margin-left: 100px;
    }

    .p1{
        font-family: Times;
        font-size:22px;
          color:white;
    }

    #A{
    font-family: calibri;
    font-size:25px;
    color:white;
    }

    #z{
        font-family:calibri;
          font-size:20px;
          color:white;

    }
